* {
  font-size: 16px;
  font-family: Myriad Pro;
  margin: 0;
  padding: 0;
}

.header {
  width: 1365px;
  height: 145px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-hmenu {
  width: 235px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 180px;
  margin: auto;
}

.left-hmenu img {
  width: 50px;
  height: 50px;
}

.left-hmenu .htext {
  font-size: 40px;
  color: #746868;
}

.hlist {
  margin-right: 180px;
}

.hlist ul {
  list-style-type: none;
}

.hlist ul li {
  width: 45px;
  height: 2px;
  background-color: #746868;
}

.box, .box2 {
  height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
}

.box .box-text, .box2 .box-text, .box .box-text2, .box2 .box-text2 {
  font-size: 72px;
  color: white;
}

.box-text2 {
  font-size: 36px;
}

.box-text3 {
  font-family: Roboto;
  font-size: 12px;
  color: white;
  margin-top: 250px;
}

.box2 {
  height: 570px;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */