* {
    font-size: 16px;
    font-family: Myriad Pro;
    margin: 0;
    padding: 0;
}
@import "mixins.scss";
@import "smallScreen.scss";

.header {
    width: 100%;
    height: 9em;
    background-color: $bg-color-light;
    @include box-flex-between;

}

.left-hmenu {
    width: 14.7em;
    height: 3.1em;
    display: flex;
    justify-content: flex-start;
    margin-left: 11.25em;

    // .logo-startup{
    //     width: 3.1em;
    //     height: 3.1em;
    //     background-image: url('../assets/img/icon-startup.svg');

    // }

    embed {
        width: 3.1em;
        height: 3.1em;
    }

    .htext {
        font-size: 2.5em;
        color: #746868;
    }

}


.hmenu {
    margin-right: 11.25em;

    embed {
        width: 3.1em;
        height: 3.1em;
    }
}

.box-d {
    height: 44.5em;
    @include box-flex-column-center;
    background-color: $bg-color-dark;
    color: $color-white;

    .box-text {
        font-size: 4.5em;
        margin-top: 3em;
    }

    .box-text2 {
        font-size: 2.25em;
    }

    .box-text3 {
        font-family: Roboto;
        font-size: 0.75em;
        @include box-flex-column-center;

        embed {
            width: 1.9em;
            height: 1.9em;
            margin-top: 12.5em;
        }

    }
}

.box-l {
    height: 35.5em;
    @include box-flex-column-center;
    background-color: $bg-color-light;
    color: $color-dark;

    .boxl-text {
        font-size: 3em;
        text-align: center;

        .boxline {
            width: 12.2em;
            height: 0.65em;
            margin: 0 0.3em;
            border-top: 0.2em solid #e84c3d;
        }
    }

    .boxl-text2 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 3.1em;
    }
}

.sections {
    @include box-flex-center;

    .section1 {
        width: 20em;
        height: 12.5em;
        @include box-flex-column-center;
        background-color: #e9dddd;
        margin-left: 1.25em;
        margin-right: 1.25em;
        text-align: center;

        embed {
            width: 2.5em;
            height: 2.5em;
        }

        .bigText {
            font-size: 1.125em;
            font-weight: bold;
            margin: 0.6em 0;
        }
    }

}


.box-d2 {
    background-color: $bg-color-dark;
    height: 27em;
    display: flex;
    color: $color-white;

    .box-d2-content {
        width: 45%;
        @include box-flex-column-center;
        text-align: center;
        margin-left: 6.25em;
        margin-right: 6.25em;

        .d2bigText {
            font-family: Roboto;
            font-size: 1.9em;
            margin-bottom: 1.9em;
        }

        button {
            background-color: #e84c3d;
            border: 0.125em solid #e84c3d;
            font-family: Roboto;
            font-weight: bold;
            padding: 0.6em 1.9em;
            color: white;
            margin-top: 3.1em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .box-d2-video {
        width: 50%;

        iframe {
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.box-l2 {
    @include box-flex-column-center;
    @extend .box-l;
    height: 20em;
    text-align: center;

    .l2bigText {
        @extend .boxl-text;

    }

    .l2boxline {
        width: 12.2em;
        height: 0.6em;
        margin: 0 0.3em;
        border-top: 0.2em solid #e84c3d;
        margin-bottom: 1.9em;
    }

}

.works {
    @include box-flex-center;
    margin-top: 5em;

    a {
        font-weight: bold;
        color: $color-dark;
        text-decoration: none;
        margin: 0 0.3em;

        &:hover {
            cursor: pointer;
            border-bottom: 0.125em solid #e84c3d;
        }
    }

}

.red {
    background-color: #e84c3d;
    height: 33em;
}

.box-d3 {
    @extend .box-d;
    flex-direction: row;
    justify-content: center;
    height: 15em;

    .arrow {
        @include box-flex-between;
        margin: 0 3.1em;

        .d3text {
            font-size: 2em;
        }

        embed {
            width: 2.2em;
            height:  2.2em;
            border: 0.06em solid white;
            border-radius: 0.3em;
            margin-right: 0.45em;
            position: relative;
            top: 0.3em;

        }
    }
}

.box-l3 {
    @extend .box-l2;
    height: 51em;

    .l3bigText {
        @extend .l2bigText;
    }

    .l3boxline {
        @extend .l2boxline;
        margin-bottom: 1.9em;
    }
}

.team {
    @include box-flex-center;
    margin-top: 6.25em;

    .member {
        @include box-flex-column-center;
        background-color: #e9dddd;
        width: 20em;
        height: 26.5em;
        margin-right: 2.5em;

        .circle {
            width: 8.4em;
            height: 8.4em;
            background-color: #e84c3d;
            border-radius: 5.625em;
            margin-bottom: 1.9em;
        }

        .name {
            font-size: 1.25em;
            font-weight: bold;
            color: #3d3d3d;
        }

        .job {
            font-weight: bold;
            color: #3d3d3d;
            margin-bottom: 3.1em;
        }

        .network {
            @include box-flex-center;

            a {
                text-decoration: none;

                embed {
                    width: 1.25em;
                    height: 1.25em;
                    margin: 0 0.5em;
                }

            }
        }
    }
}

.skills {
    @include box-flex-column-center;
    align-items: flex-start;
    width: 37.5em;
    height: 26.5em;
    background-color: #e9dddd;
    padding-left: 4em;

    .mySkills {
        font-size: 1.5em;
        font-weight: bold;
        color: #3d3d3d;
        margin-bottom: 1.9em;
    }

    .textSkills {
        font-size: 0.875em;
        color: #3d3d3d;
        text-align: left;
        margin-bottom: 3.1em;
    }

    .effect {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .effectText {
            width: 7.8em;
            font-size: 0.875em;
            font-weight: bold;
            text-align: left;
            color: #3d3d3d;
            margin: 0.3em 0.3em;
        }

        .effectNumber {
            font-size: 0.875em;
            font-weight: bold;
            color: #3d3d3d;
            margin: 0.3em 0.3em;
        }

        .effectLine {
            display: flex;
            justify-content: flex-start;
            margin: 0.3em 0.3em;

            .effectLineRed {
                width: 17.5em;
                height: 0.4em;
                border-bottom: 0.06em solid #e84c3d;

            }

            .effectLineWhite {
                width: 5em;
                height: 0.4em;
                border-bottom: 0.06em solid white;

            }
        }
    }
}

.effectLineRed2 {
    height: 0.4em;
    border-bottom: 0.06em solid #e84c3d;
    width: 18.4em;
}

.effectLineWhite2 {
    height: 0.4em;
    border-bottom: 0.06em solid white;
    width: 4em;
}

.effectLineRed3 {
    height: 0.4em;
    border-bottom: 0.06em solid #e84c3d;
    width: 16.9em;
}

.effectLineWhite3 {
    height: 0.4em;
    border-bottom: 0.06em solid white;
    width: 5.6em;
}

.effectLineRed4 {
    width: 20em;
    height: 0.4em;
    border-bottom: 0.06em solid #e84c3d;
}

.effectLineWhite4 {
    width: 2.5em;
    height: 0.4em;
    border-bottom: 0.06em solid white;
}

.box-d4 {
    @extend .box-d;
    height: 24em;

    .d4bigText {
        font-size: 2.25em;
        letter-spacing: 0.25em;
    }

    .d4boxline {
        width: 5.6em;
        height: 0.6em;
        margin: 0 0.3em;
        border-bottom: 0.06em solid $color-white;
        margin-bottom: 4.4em;
    }
}

.features {
    @include box-flex-around;

    .features-box {
        width: 9.4em;
        height: 11.25em;
        text-align: center;
        @include box-flex-column-between;
        margin: 0 1.9em;

        embed {
            width: 2.2em;
            height: 2.2em;
        }

        &-text {
            font-family: Roboto;
            font-size: 1.125em;
            font-weight: normal;
        }

        &-number {
            font-family: Roboto;
            font-size: 3em;
            font-weight: normal;
        }
    }
}

.box-l4 {
    @extend .box-l;
    height: 50em;
    text-align: center;

    .l4bigText {
        @extend .boxl-text;
    }

    .l4boxline {
        width: 12.2em;
        height: 0.3em;
        margin: 0 0.3em;
        border-bottom: 0.2em solid #e84c3d;
    }

    .l4smallText {
        margin: 1.9em 0 3.75em 0;
    }
}

.box-l4-blogs {
    @include box-flex-center;
    text-align: left;
    color: #827272;
}

.box-l4-blog1 {
    @include box-flex-column-between;
    background-color: #e9dddd;
    width: 20em;
    height: 27em;

    .box-l4-bg {
        height: 13.5em;
        width: 20em;
        background-color: #827272;
    }


}

.box-l4-blog1-text {
    margin: 0 1.5em;

    .box-l4-blog1-Btext {
        font-size: 1.125em;
        margin: 1.5em 0;
    }

    .box-l4-blog1-Stext {
        font-size: 0.875em;
    }
}

.box-l4-blog2 {
    @include box-flex-column-between;
    background-color: #e9dddd;
    width: 20em;
    height: 26.5em;
    margin: 0 1em;

    img {
        height: 13.5em;
        width: 20em;
    }

    .box-l4-img-icon {
        @include box-flex-center;
        width: 6.25em;
        height: 1.9em;
        position: relative;
        top: -7.8em;

        a {
            text-decoration: none;
            margin-left: 0.6em;
            embed{
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}

.box-l4-blog1-down {
    @include box-flex-between;
    margin: 1em 0;

    .box-l4-blog1-date {
        @include box-flex-start;
        width: 6.25em;
        height: 0.875em;

        embed {
            width: 0.75em;
            height: 0.75em;
            margin-right: 0.3em;
        }
    }

    .box-l4-blog1-comment {
        @include box-flex-start;
        width: 6.25em;
        height: 0.875em;

        embed {
            width: 0.75em;
            height: 0.75em;
            margin-right: 0.3em;
        }
    }
}

.box-l4-blog1-down-text {
    font-size: 0.75em;
    margin-right: 0.3em;
}



.box-d5 {
    @extend .box-d;
    height: 44em;

    .d5bigText {
        font-size: 2.25em;
        letter-spacing: 0.25em;
    }

    .d5boxline {
        width: 5.625em;
        height: 0.6em;
        margin: 0 0.3em;
        border-bottom: 0.06em solid $color-white;
        margin-bottom: 4.4em;
    }
}

.pricing {
    @include box-flex-center;
}

.price {
    @include box-flex-column-start;
    width: 13em;
    height: 28em;
    background-color: #322e31;
    margin: 0 1em;

    &:hover {
        border: 0.1em solid #e84c3d;

        .price-offer-number {
            color:
                #e84c3d;
        }
    }

    .price-name {
        background-color: #221b1d;
        width: 13em;
        height: 8em;
        text-align: center;

    }
}

.price-name-text {
    font-size: 0.875em;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-top: 2.5em;
}

.price-name-number {
    font-size: 2.25em;
}

.price-offer {
    @include box-flex-column-center;
    margin-top: 1.25em;

    button {
        background-color: #e84c3d;
        border: 0.125em solid #e84c3d;
        border-radius: 0.3em;
        font-family: Roboto;
        font-weight: bold;
        padding: 0.3em 0.6em;
        color: white;
        margin-top: 3.1em;

        &:hover {
            cursor: pointer;
        }
    }

}

.price-offer-row {
    @include box-flex-center;
    margin: 0.6em 0;
    font-size: 0.875em;
}

.price-offer-number {
    font-weight: bold;
    margin-right: 0.6em;
}

.box-contact {
    @extend .box-l;
    height: 43.75em;
    text-align: center;

    .contact-bigText {
        @extend .boxl-text;
    }

    .contact-boxline {
        width: 12.2em;
        height: 0.3em;
        margin: 0 0.3em;
        border-bottom: 0.2em solid #e84c3d;
    }

    .contact-smallText {
        margin: 1.9em 0 3.75em 0;
    }

    form {
        width: 50em;
        height: 14.4em;
    }

    input {
        border: none;
    }
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #353535;
    margin-top: 3.1em;
}

.contact-name {
    width: 23.75em;
    height: 3.75em;
    margin: 0 1.9em 3.1em 0;
    font-size: 0.875em;
    text-align: left;
    border-bottom: 0.06em solid #353535;

    span {
        color: #e84c3d;
    }

    input {
        width: 23.75em;
        height: 1.9em;
        outline: none;
    }
}

.contact-mail {
    width: 23.75em;
    height: 3.75em;
    margin: 0 0 3.1em 0;
    font-size: 0.875em;
    text-align: left;
    border-bottom: 0.06em solid #353535;

    span {
        color: #e84c3d;
    }

    input {
        width: 23.75em;
        height: 1.9em;
        outline: none;
    }
}

.contact-message {
    width: 50em;
    height: 5.625em;
    font-size: 0.875em;
    text-align: left;
    border-bottom: 0.06em solid #353535;

    span {
        color: #e84c3d;
    }

    input {
        width: 50em;
        height: 3.75em;
        outline: none;
    }
}

.contact-button {
    background-color: #f3724d;
    border: 0.125em solid #f3724d;
    font-family: Roboto;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 0.6em 1.9em;
    color: white;
    margin-top: 3.75em;

    &:hover {
        cursor: pointer;
    }

}

footer {
    height: 20.3em;
    background-color: #171f23;
    color: $color-white;
    text-align: center;
}

.locate-map {
    @include box-flex-center;
    height: 5.3em;
    background-color: #322e31;

    a {
        text-decoration: none;

        embed {
            width: 1.5em;
            height: 1em;
        }
    }
}

.locate {
    margin-right: 1.25em;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 5.3em;
}

.info {
    height: 16.25em;
    @include box-flex-column-center;
    font-family: Myriad Pro;

    embed {
        width: 1.9em;
        height: 1.9em;
    }

    .info-Btext {
        font-size: 1.5em;
        margin: 1em 0;
    }

    .info-Stext {
        font-size: 0.875em;
    }

}

.info-social {
    @include box-flex-center;
    font-family: Myriad Pro;

    a {
        margin: 1.25em 0.3em 0 0.3em;

        embed {
            width: 1.25em;
            height: 1.25em;
        }
    }
}