$bg-color-dark: #353535;
$bg-color-light: white;
$color-dark: #3d3d3d;
$color-white: white;

@mixin box-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin box-flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin box-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin box-flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@mixin box-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin box-flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin box-flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}