@media screen and (max-width: 540px) and (min-width: 320px) {

    * {
        font-size: 10px;
        font-family: Myriad Pro;
        margin: 0;
        padding: 0;
    }

    @import "mixins.scss";

    .header {
        height: 4em;
        width: 100%;
        background-color: $bg-color-light;
        @include box-flex-between;
    }

    .left-hmenu {
        width: 7.5em;
        height: 1.5em;
        margin-left: 3em;
        display: flex;
        justify-content: flex-start;


        embed {
            display: none;

        }

        .htext {
            font-size: 2em;
            color: #746868;
        }
    }

    .hmenu {
        margin-right: 3em;

        embed {
            width: 1.5em;
            height: 1.5em;
        }
    }

    .box-d {
        width: 100%;
        height: 16em;
        @include box-flex-column-center;
        background-color: $bg-color-dark;
        color: $color-white;

        .box-text {
            font-size: 2em;
            margin-top: 1em;
            text-align: center;
        }

        .box-text2 {
            font-size: 1.5em;
        }

        .box-text3 {
            font-size: 0.35em;
            @include box-flex-column-center;
            margin-bottom: 0.5em;

            embed {
                width: 1em;
                height: 1em;
                margin-top: 4em;
            }

        }

    }

    .box-l {
        height: 20em;
        width: 100%;
        @include box-flex-column-center;
        background-color: $bg-color-light;
        color: $color-dark;

        .boxl-text {
            font-size: 1.5em;
            text-align: center;

            .boxline {
                width: 6em;
                height: 0.3em;
                margin: 0 0.15em;
                border-top: 0.1em solid #e84c3d;
            }
        }

        .boxl-text2 {
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }
    }

    .sections {
        width: 100%;
        margin-left: 1em;
        margin-top: 0.5em;
        @include box-flex-center;

        .section1 {
            width: 15em;
            height: 8em;
            @include box-flex-column-center;
            background-color: #e9dddd;
            margin-left: 0.6em;
            margin-right: 0.6em;
            margin-top: 0.5em;
            text-align: center;

            embed {
                display: none;
            }

            .bigText {
                font-size: 1.2em;
                font-weight: bold;
                margin: 0.3em 0;
            }
        }

    }

    .box-d2 {
        background-color: $bg-color-dark;
        height: 20em;
        min-width: 320px;
        display: flex;
        justify-content: space-between;
        color: $color-white;

        .box-d2-content {
            width: 40%;
            @include box-flex-column-center;
            text-align: center;
            margin-left: 1.5em;
            margin-right: 1.5em;

            .d2bigText {
                font-family: Roboto;
                font-size: 1.3em;
                margin-bottom: 1em;
            }

            button {
                background-color: #e84c3d;
                border: 0.07em solid #e84c3d;
                font-family: Roboto;
                font-weight: bold;
                padding: 0.3em 0.9em;
                color: white;
                margin-top: 1.5em;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .box-d2-video {
            width: 50%;

            iframe {
                width: 100%;
                height: 100%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .box-l2 {
        @include box-flex-column-center;
        @extend .box-l;
        height: 13em;
        text-align: center;

        .l2bigText {
            @extend .boxl-text;

        }

        .l2boxline {
            width: 6em;
            height: 0.3em;
            margin: 0 0.1em;
            border-top: 0.1em solid #e84c3d;
            margin-bottom: 0.9em;
        }

    }

    .works {
        @include box-flex-center;
        margin-top: 1.5em;

        a {
            font-weight: bold;
            color: $color-dark;
            text-decoration: none;
            margin: 0 0.6em;

            &:hover {
                cursor: pointer;
                border-bottom: 0.1em solid #e84c3d;
            }
        }

    }

    .red {
        background-color: #e84c3d;
        height: 2em;
        width: 100%;
    }

    .box-d3 {
        @extend .box-d;
        flex-direction: row;
        justify-content: center;
        height: 6em;

        .arrow {
            margin: 0 3.1em;

            .d3text {
                font-size: 2em;
            }

            embed {
                display: none;
            }
        }
    }

    .box-l3 {
        @extend .box-l2;
        width: 100%;
        height: 25em;

        .l3bigText {
            @extend .l2bigText;
        }

        .l3boxline {
            @extend .l2boxline;
            margin-bottom: 1em;
        }
    }

    .team {
        @include box-flex-between;
        margin-top: 2em;

        .member {
            @include box-flex-column-center;
            background-color: #e9dddd;
            width: 8em;
            height: 15em;
            margin-right: 1.2em;

            .circle {
                width: 4em;
                height: 4em;
                background-color: #e84c3d;
                border-radius: 3.4em;
                margin-bottom: 2.5em;
            }

            .name {
                font-size: 1.2em;
                font-weight: bold;
                color: #3d3d3d;
            }

            .job {
                font-weight: bold;
                color: #3d3d3d;
                margin-bottom: 2.5em;
            }

            .network {
                display: none;

            }
        }
    }

    .skills {
        @include box-flex-column-center;
        align-items: flex-start;
        width: 35em;
        height: 15em;
        background-color: #e9dddd;
        padding-left: 2em;

        .mySkills {
            font-size: 1.2em;
            font-weight: bold;
            color: #3d3d3d;
            margin-bottom: 1em;
        }

        .textSkills {
            font-size: 1em;
            color: #3d3d3d;
            text-align: left;
            margin-bottom: 1em;
        }

        .effect {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .effectText {
                width: 15em;
                font-size: 1em;
                font-weight: bold;
                text-align: left;
                color: #3d3d3d;
                margin: 0.2em 0.8em;
            }

            .effectNumber {
                font-size: 1em;
                font-weight: bold;
                color: #3d3d3d;
                margin: 0.2em 0.1em;
            }

            .effectLine {
                display: none;
            }
        }
    }

    .box-d4 {
        @extend .box-d;
        height: 12em;

        .d4bigText {
            font-size: 1.2em;
        }

        .d4boxline {
            width: 8em;
            height: 0.3em;
            border-bottom: 0.03em solid $color-white;
            margin-bottom: 1.5em;
        }
    }

    .features {
        @include box-flex-between;

        .features-box {
            width: 11em;
            height: 5em;
            text-align: center;
            @include box-flex-column-between;
            margin: 0 0.5em;

            embed {
                display: none;
            }
        }

        .features-box-text {
            font-family: Roboto;
            font-size: 1.3em;
            letter-spacing: 0.05em;
        }

        .features-box-number {
            font-family: Roboto;
            font-size: 1.4em;
        }
    }

    .box-l4 {
        @extend .box-l;
        height: 25em;
        text-align: center;

        .l4bigText {
            @extend .boxl-text;
        }

        .l4boxline {
            width: 6em;
            height: 0.2em;
            margin: 0 0.1em;
            border-bottom: 0.1em solid #e84c3d;
        }

        .l4smallText {
            margin: 1em 0 1em 0;
        }
    }

    .box-l4-blogs {
        @include box-flex-center;
        text-align: left;
        color: #827272;
    }

    .box-l4-blog1 {
        @include box-flex-column-between;
        background-color: #e9dddd;
        width: 15em;
        height: 15em;

        .box-l4-bg {
            height: 7em;
            width: 15em;
            background-color: #827272;
        }


    }

    .box-l4-blog1-text {
        margin: 0 0.4em;

        .box-l4-blog1-Btext {
            font-size: 1.2em;
            margin: 0.1em 0;
        }

        .box-l4-blog1-Stext {
            font-size: 1em;
        }
    }

    .box-l4-blog2 {
        @include box-flex-column-between;
        background-color: #e9dddd;
        width: 15em;
        height: 15em;
        margin: 0 0.8em;

        img {
            height: 7em;
            width: 15em;
        }

        .box-l4-img-icon {
            @include box-flex-center;
            width: 2em;
            height: 1em;
            position: relative;
            top: -3.5em;

            a {
                text-decoration: none;
                margin-left: 0.3em;

                embed {
                    width: 0.7em;
                    height: 0.7em;
                }
            }
        }
    }

    .box-l4-blog1-down {
        display: none;
        // @include box-flex-between;
        // margin: 0.5em 0;

        // .box-l4-blog1-date {
        //     @include box-flex-start;
        //     width: 3em;
        //     height: 0.6em;

        //     embed {
        //         width: 0.5em;
        //         height: 0.5em;
        //         margin-right: 0.2em;
        //     }
    }

    .box-l4-blog1-comment {
        display: none;
        //     @include box-flex-start;
        //     width: 3em;
        //     height: 0.6em;

        //     embed {
        //         width: 0.5em;
        //         height: 0.5em;
        //         margin-right: 0.2em;
        //     }
        // }
    }

    // .box-l4-blog1-down-text {
    //     font-size: 0.5em;
    //     margin-right: 0.2em;
    // }

    .box-d5 {
        @extend .box-d;
        height: 22em;

        .d5bigText {
            font-size: 1.2em;
            margin-top: 1em;
        }

        .d5boxline {
            width: 6em;
            height: 0.3em;
            border-bottom: 0.03em solid $color-white;
            margin-bottom: 2em;
        }
    }

    .pricing {
        @include box-flex-column-center;
        width: 100%;
        height: 20em;
    }

    .price {
        width: 100%;
        height: 4em;
        background-color: #322e31;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0.1em;



        &:hover {
            border: 0.2em solid #e84c3d;

            .price-offer-number {
                color:
                    #e84c3d;
            }
        }

        .price-name {
            width: 15em;
            height: 4em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 0.1em;
            background-color: #221b1d;

        }
    }

    .price-name-text {
        font-size: 1em;
        font-weight: bolder;
        margin-top: 1.5em;
        margin-right: 0.5em;
        margin-left: 0.5em;

    }

    .price-name-number {
        font-size: 1.1em;
        margin-top: 1.3em;
        margin-right: 0.5em;

    }

    .price-offer {
        height: 3em;
        width: calc(100%-18em);
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.1em;

        button {
            height: 2em;
            background-color: #e84c3d;
            border: 0.125em solid #e84c3d;
            border-radius: 0.3em;
            font-family: Roboto;
            font-size: 1em;
            font-weight: bold;
            margin-top: 0.1em;
            margin-left: 0.5em;
            padding: 0.1em;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

.price-offer-row {
    height: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 0.4em;
    margin-left: 0.4em;
    font-size: 1.4em;
}

.price-offer-number {
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 0.15em;
}

.box-contact {
    @extend .box-l;
    height: 20em;
    text-align: center;

    .contact-bigText {
        font-size: 1.5em;
        text-align: center;
    }

    .contact-boxline {
        display: none;
    }

    .contact-smallText {
        display: none;
    }

    form {
        width: 35em;
        height: 15em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    input {
        border: none;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #353535;
    margin-top: 1.5em;
}

.contact-name {
    width: 23em;
    height: 3em;
    margin: 1em 1em 1em 0;
    font-size: 0.8em;
    text-align: left;
    border-bottom: 0.03em solid #0e0d0d;

    span {
        color: #e84c3d;
    }

    input {
        width: 23em;
        height: 2em;
        outline: none;
    }
}

.contact-mail {
    width: 23em;
    height: 3em;
    margin: 1em 1em 1em 0;
    font-size: 0.8em;
    text-align: left;
    border-bottom: 0.03em solid #0e0d0d;

    span {
        color: #e84c3d;
    }

    input {
        width: 23em;
        height: 3em;
        outline: none;
    }
}

.contact-message {
    width: 23em;
    height: 3em;
    margin: 1em 1em 1em 0;
    font-size: 0.8em;
    text-align: left;
    border-bottom: 0.03em solid #0e0d0d;

    span {
        color: #e84c3d;
    }

    input {
        width: 23em;
        height: 2em;
        outline: none;
    }
}

.contact-button {
    height: 3em;
    background-color: #f3724d;
    border: 0.3em solid #f3724d;
    font-family: Roboto;
    font-weight: bold;
    padding: 0.1em 0.3em;
    color: white;
    margin-top: 5em;

    &:hover {
        cursor: pointer;
    }

}

footer {
    height: 5em;
    background-color: #171f23;
    color: white;
    text-align: center;
}

.locate-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2em;
    background-color: #322e31;

    a {
        text-decoration: none;

        embed {
            width: 0.7em;
            height: 0.5em;
        }
    }
}

.locate {
    margin-right: 1em;
    font-size: 1em;
    line-height: 2em;
}

.info {
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    embed {
        width: 1em;
        height: 1em;
        margin-left: 1em;
    }

    .info-Btext {
        font-size: 1em;
        margin: 0.5em 0.5em;
    }

    .info-Stext {
        font-size: 0.8em;
        margin-left: 10em;
    }

}

.info-social {
    height: 1em;
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10em;

    a {
        margin: 0.5em 0.5em;

        embed {
            width: 1em;
            height: 1em;
        }
    }
}